<div th:fragment="categories" class="categories">
    <a href="/?category=all" class="category">
        <div class="categoryImg">&#127808;</div>
        <div class="categoryName">All</div>
    </a>
    <a href="/?category=animals" class="category">
        <div class="categoryImg">&#128054;</div>
        <div class="categoryName">Animals</div>
    </a>
    <a href="/?category=funny" class="category">
        <div class="categoryImg">&#128514;</div>
        <div class="categoryName">Funny</div>
    </a>
    <a href="/?category=meme" class="category">
        <div class="categoryImg">&#129313;</div>
        <div class="categoryName">Meme</div>
    </a>
    <a href="/?category=question" class="category">
        <div class="categoryImg">&#10067;</div>
        <div class="categoryName">Question</div>
    </a>
</div>
