<div class="loginContainer" th:fragment="login">
    <form class="loginForm" method="post">
        <div class="formHeader">
            Sign In <i class="fa fa-key"></i>
        </div>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="••••••••">
        <div class="hidden">
            <input type="submit" name="submit" value="Sign in">
        </div>
        <a class="button loginButton">Sign In <i class="fa fa-sign-in"></i></a>
    </form>
</div>
