<div class="mainContainer" th:fragment="main">
    <div th:replace="'/partials/categories'"></div>
    <div class="mainFeed">
        <div class="">
            <h2>Main Feed</h2>
        </div>
    	<div class="postContainer">
            <div class="postVoteBar">
                <a class="postCategory">&#128514;</a>
                <a class="voteUp"><i class="fa fa-arrow-up"></i></a>
                <div class="postVotes">•</div>
                <a class="voteDown"><i class="fa fa-arrow-down"></i></a>
            </div>
            <div class="post">
                <div class="postTitle">
                    Header
                </div>
                <div class="postBody">
                    Body
                </div>
            </div>
        </div>
    	<div class="postContainer">
            <div class="postVoteBar">
                <a class="postCategory">&#129313;</a>
                <a class="voteUp"><i class="fa fa-arrow-up"></i></a>
                <div class="postVotes">•</div>
                <a class="voteDown"><i class="fa fa-arrow-down"></i></a>
            </div>
            <div class="post">
                <div class="postTitle">
                    Header
                </div>
                <div class="postBody">
                    Body
                </div>
            </div>
        </div>
    	<div class="postContainer">
            <div class="postVoteBar">
                <a class="postCategory">&#128054;</a>
                <a class="voteUp"><i class="fa fa-arrow-up"></i></a>
                <div class="postVotes">•</div>
                <a class="voteDown"><i class="fa fa-arrow-down"></i></a>
            </div>
            <div class="post">
                <div class="postTitle">
                    Header
                </div>
                <div class="postBody">
                    Body
                </div>
            </div>
        </div>
    	<div class="postContainer">
            <div class="postVoteBar">
                <a class="postCategory">&#128054;</a>
                <a class="voteUp"><i class="fa fa-arrow-up"></i></a>
                <div class="postVotes">•</div>
                <a class="voteDown"><i class="fa fa-arrow-down"></i></a>
            </div>
            <div class="post">
                <div class="postTitle">
                    Header
                </div>
                <div class="postBody">
                    Body
                </div>
            </div>
        </div>



    </div>
</div>
