<div class="mainContainer" th:fragment="main">
    <div th:replace="'/partials/categories'"></div>
    <div class="mainFeed">
        <div class="">
            <h2>Main Feed</h2>
        </div>
    	<div class="postContainer" th:if="${posts.size() > 0}" th:each="post : ${posts}">
            <div class="postVoteBar">
                <a class="postCategory" th:href="@{'/?category='+${post.getCategory()}}" th:utext="${post.getEmote()}"></a>
                <a class="voteUp"><i class="fa fa-arrow-up"></i></a>
                <div class="postVotes">•</div>
                <a class="voteDown"><i class="fa fa-arrow-down"></i></a>
            </div>
            <div class="post">
                <div class="postTitle" th:text="${post.getTitle()}"></div>
                <div class="postBody">
                    <img th:src="${'/memes/'+post.getContent()+'.png'}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
