<div class="mainContainer" th:fragment="main">
    <div th:replace="'/partials/categories'"></div>
    <div class="mainFeed">
        <div class="">
            <h2>Main Feed</h2>
        </div>
    	<div class="postContainer">
            <div class="postTitle">
                Header
            </div>
            <div class="postBody">
                Body
            </div>
            <div class="postFooter">
                Footer
            </div>
        </div>

    	<div class="postContainer">
            <div class="postTitle">
                Header
            </div>
            <div class="postBody">
                Body
            </div>
            <div class="postFooter">
                Footer
            </div>
        </div>

    	<div class="postContainer">
            <div class="postTitle">
                Header
            </div>
            <div class="postBody">
                Body
            </div>
            <div class="postFooter">
                Footer
            </div>
        </div>


    </div>
</div>
