<div class="registerContainer" th:fragment="login">
    <form class="registerForm" method="post">
        <div class="formHeader">
            Register Account <i class="fa fa-id-card"></i>
        </div>

        <input type="text" name="firstname" placeholder="Firstname">
        <input type="text" name="lastname" placeholder="Lastname">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="passwordConfirm" placeholder="Confirm password">
        <input type="email" name="email" placeholder="email@abc.xyz">

        <div class="hidden">
            <input type="submit" name="submit" value="Sign in">
        </div>
        <a class="button registerButton">Create my account <i class="fa fa-sign-in"></i></a>
    </form>
</div>
