:root{
	/* --primary: #29354a;
	--secondary: #1b2331;
    --secondary-alt: #232d40;
    --third: #212f4a;

    --font-color: #9daece;
	--box-shadow: #0f1726;

	--highlight: #38a43f;
    --highlight-alt: #aa9800; */

    --primary: #fff;
    --secondary: #eee;
    --secondary-alt: #ddd;
    --third: #568efb;
    --font-color: #333;
    --box-shadow: #dbdbdb;
    --highlight: #eee;
    --highlight-alt: #ff8300;
    --postTitle: #fbfbfb;
}

body {
	margin:0;
	padding:0;
	background:var(--secondary);
	font-family:'arial',sans-serif;
    color: var(--font-color);
}

* {
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	transition-duration:0.2s;
}

*:hover {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}

li {
	list-style:none;
}

a:hover, .button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--highlight-alt);
}

a.category {color:inherit;}
a.category:hover {color:var(--highlight-alt);}

.mainContainer, .profileContainer {
    width: 1300px;
	margin: 10em auto;
    padding:10px;
	box-shadow: 0 0 2em var(--box-shadow);
}

.mainContainer, .profileContainer, .profileLeftContainer, .profileRightContainer {
	min-height: 100px;
	background: var(--primary);
    border-radius: 10px;
}

nav {
	width:100%;
	position:fixed;
	top:0;
	background: var(--primary);
	box-shadow: 0 0 2em var(--box-shadow);
    z-index: 10;
}

nav a {
	text-decoration:none;
}

nav > .navContainer {
	width:1200px;
	margin: 0 auto;
}

nav > .navContainer > ul {
    margin: 10px 0px;
}

nav > .navContainer > ul > li { display:inline-block; }
nav > .navContainer > ul > li > a {
	padding: 10px 20px;
	margin-right: 5px;
	color: var(--font-color);
	border-radius: 5px;
	font-weight:bold;
}
nav > .navContainer > ul > li > a, .button {
	display:block;
}

nav > .navContainer > ul > li > a:hover {
	background: var(--secondary);
}

nav > .navContainer > .navMain,
nav > .navContainer > .navAccount {
	width:40%;
}

nav > .navContainer,
nav > .navContainer > .navAccount,
.mainContainer, .category {
	display:flex;
}

nav > .navContainer > .navAccount {
	justify-content: right;
}

.mainContainer, nav > .navContainer {
    justify-content: space-between;
}

nav a.newPostBtn {
    background: #0087ff !important;
    color: var(--primary) !important;
}

.pull-left { float:left; }
.pull-right { float:right; }
.hidden { display: none; visibility: hidden; opacity: 0; }

.mainFeed {
    width: 80%;
    padding-left: 10px;
}

.categories {
    width: 20%;
    padding-left: 20px;
}

.category {
    padding: 2px 5px;
}
.category:hover {
    background: var(--secondary);
}

.categoryImg {
    font-size: 25px;
}

.categoryName {
    display: inherit;
    align-items: center;
    padding-left: 8px;
}

.postTitle,
.postBody,
.postFooter {
    padding: 5px;
}

.postTitle {
    font-size: 1.1em;
    background: var(--postTitle);
    font-weight: bold;
}

.postContainer {
    width: 500px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    margin-bottom: 2em;
    display:flex;
}

.post {
    width: 93%;
}

.postVoteBar {
    width: 7%;
    border-right: 1px solid var(--secondary);
    text-align: center;
    padding: 5px 0px;
}

.postVoteBar a {
    display: block;
    color: var(--box-shadow);
}

.postVoteBar a:hover {
    color: var(--font-color);
}

a.postCategory {
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 3px;
}
