:root{
	--primary: #29354a;
	--secondary: #1b2331;
    --secondary-alt: #232d40;

    --font-color: #9daece;
	--box-shadow: #0f1726;

	--highlight: #5d9100;
    --highlight-alt: #aa9800;
}

body {
	margin:0;
	padding:0;
	background:var(--secondary);
	font-family:'arial',sans-serif;
    color: var(--font-color);
}

* {
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	transition-duration:0.2s;
}

*:hover {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}

li {
	list-style:none;
}

a:hover, .button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.mainContainer {
	width: 1200px;
	margin: 10em auto;
	min-height: 100px;
	padding:10px;

	background: var(--primary);
	box-shadow: 0 0 2em var(--box-shadow);
	border-radius: 10px;
}

nav {
	width:100%;
	position:fixed;
	top:0;
	background: var(--primary);
	box-shadow: 0 0 2em var(--box-shadow);
    border-bottom: 5px solid var(--highlight);
    z-index: 10;
}

nav a {
	text-decoration:none;
}

nav > .navContainer {
	width:1200px;
	margin: 0 auto;
	justify-content:space-between;
}

nav > .navContainer > ul > li { display:inline-block; }
nav > .navContainer > ul > li > a {
	padding: 10px 20px;
	margin-right: 5px;
	color: var(--font-color);
	border-radius: 5px;
	font-weight:bold;
}
nav > .navContainer > ul > li > a, .button {
	display:block;
}

nav > .navContainer > ul > li > a:hover {
	background: var(--secondary);
}

nav > .navContainer > .navMain,
nav > .navContainer > .navAccount {
	width:40%;
}

nav > .navContainer,
nav > .navContainer > .navAccount {
	display:flex;
}

nav > .navContainer > .navAccount {
	justify-content: right;
}

.pull-left { float:left; }
.pull-right { float:right; }
.hidden { display: none; visibility: hidden; opacity: 0; }
