:root{
	/* --primary: #29354a;
	--secondary: #1b2331;
    --secondary-alt: #232d40;
    --third: #212f4a;

    --font-color: #9daece;
	--box-shadow: #0f1726;

	--highlight: #38a43f;
    --highlight-alt: #aa9800; */

    --primary: #fff;
    --secondary: #eee;
    --secondary-alt: #ddd;
    --third: #568efb;
    --font-color: #333;
    --box-shadow: #dbdbdb;
    --highlight: #eee;
    --highlight-alt: #ff8300;
    --postTitle: #fbfbfb;
}

body {
	margin:0;
	padding:0;
	background:var(--secondary);
	font-family:'arial',sans-serif;
    color: var(--font-color);
}

* {
	-webkit-transition-duration:0.2s;
	-moz-transition-duration:0.2s;
	-o-transition-duration:0.2s;
	transition-duration:0.2s;
}

*:hover {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}

li {
	list-style:none;
}

a:hover, .button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--highlight-alt);
}

a.category {color:inherit;}
a.category:hover {color:var(--highlight-alt);}

.mainContainer {
    width: 900px;
}

.profileContainer {
    width: 900px;
}
.mainContainer, .profileContainer {
	margin: 10em auto;
    padding:10px;
	box-shadow: 0 0 2em var(--box-shadow);
}

.mainContainer, .profileContainer, .profileLeftContainer, .profileRightContainer {
    min-height: 100px;
    border-radius: 10px;
}
.mainContainer, .profileLeftContainer, .profileRightContainer {
	background: var(--primary);
}

nav {
	width:100%;
	position:fixed;
	top:0;
	background: var(--primary);
	box-shadow: 0 0 2em var(--box-shadow);
    z-index: 10;
}

nav a {
	text-decoration:none;
}

nav > .navContainer {
	width:1200px;
	margin: 0 auto;
}

nav > .navContainer > ul {
    margin: 10px 0px;
}

nav > .navContainer > ul > li { display:inline-block; }
nav > .navContainer > ul > li > a {
	padding: 10px 20px;
	margin-right: 5px;
	color: var(--font-color);
	border-radius: 5px;
	font-weight:bold;
}
nav > .navContainer > ul > li > a, .button {
	display:block;
}

nav > .navContainer > ul > li > a:hover {
	background: var(--secondary);
}

nav > .navContainer > .navMain,
nav > .navContainer > .navAccount {
	width:40%;
}

nav > .navContainer,
nav > .navContainer > .navAccount,
.mainContainer, .category {
	display:flex;
}

nav > .navContainer > .navAccount {
	justify-content: right;
    margin: 0;
}

.mainContainer, nav > .navContainer {
    justify-content: space-between;
}

nav > .navContainer > .navAccount a > span:nth-child(2) {
    padding-left: 5px;
}

nav > .navContainer > .navAccount,
nav > .navContainer {
    align-items: center;
}

nav > .navContainer > .navAccount a img {
    height: 30px;
}

nav > .navContainer > .navAccount a {
    display: flex;
    align-items: center;
}

nav a.newPostBtn {
    background: #0087ff;
    color: var(--primary) !important;
}

nav a.newPostBtn:hover {
    background: #0478df !important;
}

nav a.newPostBtn.hide {
    background: #e83b3b;
}
nav a.newPostBtn.hide:hover {
    background: #ca1e1e !important;
}

.pull-left { float:left; }
.pull-right { float:right; }
.hidden { display: none; visibility: hidden; opacity: 0; }

.mainFeed {
    width: 80%;
    padding-left: 10px;
}

.categories {
    width: 20%;
    padding-left: 20px;
}

.category {
    padding: 2px 5px;
}
.category:hover {
    background: var(--secondary);
}

.categoryImg {
    font-size: 25px;
}

.categoryName {
    display: inherit;
    align-items: center;
    padding-left: 8px;
}

.postTitle,
.postBody,
.postFooter {
    padding: 5px;
}

.postBody img {
    max-width: 420px;
}

.postBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postTitle {
    font-size: 1.1em;
    background: var(--postTitle);
    font-weight: bold;
}

.postContainer {
    width: 500px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    margin-bottom: 2em;
    display:flex;
}

.post {
    width: 93%;
}

.postVoteBar {
    width: 7%;
    border-right: 1px solid var(--secondary);
    text-align: center;
    padding: 5px 0px;
}

.postVoteBar a {
    display: block;
    color: var(--box-shadow);
}

.postVoteBar a:hover {
    color: var(--font-color);
}

a.postCategory {
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 3px;
}

.shadow {
    display: none;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.newPostContainer {
    min-width: 500px;
    border-radius: 10px;
    background: var(--primary);
    padding: 10px;
    box-shadow: 0 0 3em #626262;
    min-height: 100px;
}

.newPostContainer form {
    display: flex;
    flex-direction: column;
}

.newPostContainer form input {
    width: 100%;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 10px;
}

.memeGenerator {
    width: 800px;
}

.memeGenerator, .memeGenHeader {
    display: flex;
    justify-content: space-between;
}

.memeGenHeader {
    align-items: center;
}

.memeGenHeader select {
    width: 150px;
    text-align: center;
    font-size: 1em;
    height: 40px;
    border: 1px solid var(--secondary-alt);
}

#canvas {
    border: 1px solid var(--secondary-alt);
    width: 400px;
    height: 400px;
}

.canvasHolder {
    width: 50%;
}

.canvasOptions {
    width: 45%;
}

.canvasSettings {
    display: flex;
    flex-direction: column;
}

.canvasSettings input {
    width: auto !important;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 0;
}
.dropdown > div {
    margin: 1em 0px 0px 0px;
    background: var(--primary);
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.dropdown > div > li > a {
    display: block;
    padding: 7px 4em;
    color: var(--font-color);
}

.dropdown > div > li > a:hover {
    background: var(--secondary);
}

nav li:hover > ul.dropdown {
    display: block;
}
