.profileContainer {
    display: flex;
    justify-content: space-between;
}

.profileLeftContainer {
    width: 30%;
}

.profileRightContainer {
    width: 65%;
}

.profileLeftContainer,
.profileRightContainer {
    padding: 10px;
}

.profilePrimary {
    position: relative;
    height: 250px;
    margin-bottom: 10px;
    z-index: 0;
    overflow: hidden;
}

.profileLeftContainer .profileCover {
    background: var(--highlight);
}

.profileRightContainer .profileCover {
    background: url('/img/sampleCover.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.profileCover {
    position: absolute;

    z-index: 0;
    border: 5px solid var(--box-shadow);
}

.profileUser {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-bottom: 3px solid var(--secondary);

}

.profileCover, .profileUser {
    top: 0; left: 0;
    bottom: 0; right: 0;
}

img.profilePic {
    border-radius: 10%;
    width: 200px;
}

.profileRightContainer .profileUser span {
    font-size: 3em;
    color: var(--highlight);
    text-shadow: 0 0 3px var(--font-color);
}

.userActivities {
    display: flex;
    flex-direction: column;
}
.userActivity {
    display: inherit;
    justify-content: space-between;
}
