<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title th:text="${title}"></title>
		<link rel="stylesheet" th:href="${defaultCss}"/>
		<link rel="stylesheet" th:if="${cssPath != null}" th:href="${cssPath}"/>
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.css"/>
	</head>
	<body>
		<nav>
			<div class="navContainer">
				<ul class="navMain">
					<li><a href="/main"/>Home <i class="fa fa-home"></i></a></li>
					<li><a href="/about"/>About <i class="fa fa-info-circle"></i></a></li>
					<li><a href="/contact"/>Contact <i class="fa fa-phone"></i></a></li>
				</ul>
				
				<ul class="navAccount">
					<li><a href="/login"/><i class="fa fa-key"></i> Sign in</a></li>
					<li><a href="/register"/><i class="fa fa-id-card"></i> Create Account</a></li>
				</ul>
			</div>
		</nav>
		<div class="mainContainer">	
			<!-- Include requested page -->
			<div th:replace="'pages/'+${page}"/>
		</div>
	</body>
</html>